.banner_slide{
    margin-bottom: 3rem;
}

.swipeCard a{
    text-decoration: none;
}

.swipe_title{
    font-size: 14px !important;
    font-weight: bold !important;
}
.swipeCardData:hover{
    background-color: #000;
    color: #fff;
}


.swipeCard:hover{
    background-color: #000;
    color: #fff;
}
.swipeCardData img{
    width: 100%;
    height: 250px;
}
