.imgScrollSection{
    border: 3px solid #fff;
    box-shadow: 0 4px 49px rgb(0 0 0/20%);
}


.imgScrollLeft{
    padding: 2rem !important;
}
.imgScrollLeft p{
    font-size: 22px;
}
.last-sec-slider {
height: 400px;
    overflow: hidden;
}
.ftr-first-row{
    animation: ftr_slide 10s linear infinite;
    overflow-y: hidden;
}

@keyframes ftr_slide{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(320px);
    }
}


.ftr-scnd-row{
    animation: ftr_reverse_slide 10s linear infinite;
}


@keyframes ftr_reverse_slide{
    50% {
        transform: translateY(0px);
    }
    
    0%, 100% {
        transform: translateY(320px);
    }
}