.loved-review-container {
    padding-bottom: 2rem;
    border-radius: 15px;
    height: auto;
    background-image: url(https://d3jmn01ri1fzgl.cloudfront.net/photoadking/static_assets/web/review_model.webp),url(https://d3jmn01ri1fzgl.cloudfront.net/photoadking/static_assets/web/review_model.png);
    background-color: #eff7ff;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.quote-icon{
    color: blue;
    font-size: 24px;
}

.review-user-details p:first-child {
    font-size: 18px;
    font-family: Montserrat-Bold;
    margin-bottom: 0!important;
}

.review-user-details p:nth-child(2) {
    font-family: Montserrat-Regular;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
}

.review-user-details p:last-child {
    font-family: Montserrat-Regular;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
}

.review-user-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.review-start .star{
    color: rgba(176, 176, 2, 0.649);
}