.navbar {
  background: #fff;
  position: sticky !important;
  top: 0;
  z-index: 999;

}

.nav a{
text-decoration: none;
margin-left: 3rem;
font-size: 1rem;
color: #000;
font-weight: bold;
letter-spacing: 1px;
}
.nav a.active{
color: red;
}
.nav a:hover{
color: red;
}

.login-btn a{
   color: #fff !important;
   font-weight: bold;
}


.theme-btn {
    padding: 8px 20px !important;
    background-color: #000 !important;
    color: #fff !important;
    font-weight: bold !important;
    transition: 0.5s !important;
    border-radius: 0 !important;
  }
  .theme-btn:hover {
    background-color: #fff000 !important;
    color: #000 !important;
  }



  /* media query */
@media (max-width: 570px) {
  .navbar-nav a{
    margin-bottom: 3rem;
    border-bottom: 1px solid #bdbaba;
  }
  .navbar-nav:first-child{
    margin-top: 3rem;

  }
  }